@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin:0px;
    padding:0px;
}

.logo img {
    width: 60%;
}

 
ul.navigation li {
    display: inline;
    position:relative;
    padding: 0 30px;
}
 
ul.navigation li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: 500;
}

ul.navigation li:before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: #000;
    position: absolute;
    border-radius: 100%;
    right: 0px;
    top: 6px;
}

ul.navigation li:last-child::before {
    display: none;
}

.main-menu {
    display: flex;
    align-items: center;
    margin-top: 2rem;

}


.themeBtn {
    font-size: 16px;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 500;
    padding: 14px 40px;
    line-height: 15px;
    border-radius: 20px;
    transition: all 0.5s ease;
    border: 2px solid #6c35bc;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    border-radius: 30px;
    transition: all 0.5s ease;
    background-color: #6c35bc;
    text-transform: uppercase;

}

.themeBtn a{
    color: #fff;   
}

.themeBtn:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid #6c35bc;
    background-color: #fff;
    color: #6c35bc;
}

 a {
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif !important;

 }
 
.header{
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
    right: 0;
 }

 .swiper-slide img {
    width: 100%;
}